*{
    padding:0;
    margin: 0;
}

body{
    max-width: 600px;
    margin: 0 auto;

}

.container{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

div .kut{
    position: relative;
    width:100px;
    height: 30px;
    margin:10px 0px 10px 0px;
    padding:20px;
    text-align: center;
    vertical-align: middle;
}
.kutija1{
    background-color: aqua;
}
.kutija2{
    background-color: teal;
}
.kutija3{
    background-color: violet;
}